@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-size:12px; font-family:arial; color:#555; line-height:18px;}
img{display:block;vertical-align: middle;}
li,dl{ list-style-type:none;}
a:link{ text-decoration:none; color:#555;}
a:visited {text-decoration:none; color:#555;}
a:hover{text-decoration:none;color:#FFF;}
h7 {font-size:12px; font-weight:normal; color:#666;}
h5 { font-size:12px; font-weight:700; color:#000;}
p{text-align:justify;}
li,dl{ list-style-type:none;}

/*************大圣插件模块begin*************/
.banner{width:950px; margin:0 auto; padding-top:4px;}
.ban_content{width:948px; float:left; border:1px solid #d6d6d6;}/*必需*/
.ban_bottom{width:948px; float:left; border:1px solid #d6d6d6; border-top:0}
.ban_b_left,.ban_b_right{width:9px;float:left; cursor:pointer;}
.ban_b_mid{width:929px;float:left; padding-left:1px; overflow:hidden;}
.ban_b_content{width:800%;}/*必需*/

/*滚动块(弹起)*/
.ban_b_list{width:231px;float:left; background:url(../images/ban_b_bg.gif) repeat-x bottom; border-right:1px solid #d5d5d6; height:67px; cursor:pointer;}/*必需*/
.ban_b_list dl{overflow:hide;float:left;}
.ban_b_list dl {width:231x;float:left; overflow:hidden; white-space:nowrap; display:inline;}
.ban_b_list dl dd img{ display:block;}
.ban_b_list dl dd h5{padding-top:10px;}
.ban_b_list dl dd a,.ban_b_list dl dd a:visited{display:block; width:171px;}
.ban_b_list dt{width:52px; padding:5px; float:left;}

/*滚动块(压下)*/
.ban_b_list_on{width:231px;float:left; background:url(../images/ban_b_bg_hover.gif) repeat-x bottom; border-right:1px solid #d5d5d6; height:67px; cursor:pointer;}
.ban_b_list_on dl{overflow:hide;float:left;}
.ban_b_list_on dl {width:231x;float:left; overflow:hidden; white-space:nowrap; display:inline;}
.ban_b_list_on dl dd img{ display:block;}
.ban_b_list_on dl dd h5{padding-top:10px;}
.ban_b_list_on dl dd a,.ban_b_list dl dd a:visited{display:block; width:171px;}
.ban_b_list_on dt{width:52px; padding:5px; float:left;}
/*************大圣插件模块end*************/